:root {
    --blue-dark: #005B99;
    --blue: #0F79BD;
    --grey: #A5A5A5;
    --grey-dark: #707070;
    --white: #FFFFFF;
}

body, h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: var(--white);
    color: #333;
}


.navbar {
    width: 100%;
    background: var(--blue-dark);
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}


.hero {
    background: linear-gradient(#e7e7e7, #ffffff);
    text-align: center;
    padding: 35px 20px;
}

.hero-logo {
    width: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.hero h2 {
    font-size: 28px;
    color: var(--blue-dark);
}

.hero p {
    font-size: 18px;
    color: var(--grey-dark);
    margin-top: 5px;
}

header {
    background: #1a237e;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.kegiatan-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
}

.kegiatan-box {
    background: white;
    width: 280px;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}

.kegiatan-box:hover {
    transform: translateY(-5px);
}

.kegiatan-box img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.kegiatan-box h3 {
    margin-top: 12px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}


.popup-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}

.popup-img img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 45px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.gallery-controls {
    margin-top: 15px;
}

.gallery-controls button {
    background: white;
    border: none;
    padding: 12px 18px;
    font-size: 22px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 15px;
    transition: 0.2s;
}

.gallery-controls button:hover {
    transform: scale(1.1);
}